<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"><%= formTitle %></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">User</li>
        </ol>
      </div><!-- /.col -->
    </div>
  </div>
</div>
<hr>
<div class="content mx-3">
  <div class="container-fluid py-4">
    <%= form_with model: @user do |form| %>
      <div class="form-group row">
        <div class="col-md-1"> <%= form.label :name %> </div>
        <div class="col-md-5 mt-1"><%= form.text_field :name ,class: "form-control" %></div>
          <% if @user.errors.any? %>
            <ul>
              <% @user.errors.full_messages_for(:name).each do |message| %>
                <li class="text-danger"><%= message %></li>
              <% end %>
            </ul>
          <% end %>
      </div>
      <br/>
      <div class="form-group row">
        <div class="col-md-1"> <%= form.label :email %> </div>
        <div class="col-md-5 mt-1"><%= form.email_field :email ,class: "form-control" %></div>
          <% if @user.errors.any? %>
            <ul>
              <% @user.errors.full_messages_for(:email).each do |message| %>
                <li class="text-danger"><%= message %></li>
              <% end %>
            </ul>
          <% end %>
      </div>
      <br/>
      <% if formTitle != 'Edit User' %>
      <div class="form-group row">
        <div class="col-md-1"> <%= form.label :password %> </div>
        <div class="col-md-5 mt-1"><%= form.password_field :password ,class: "form-control" %></div>
        <% if @user.errors.any? %>
          <ul>
            <% @user.errors.full_messages_for(:password).each do |message| %>
              <li class="text-danger"><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <% end %>
      <div class="form-group row">
        <div class="col-md-1"> <%= form.label :role_id %> </div>
        <div class="col-md-5 mt-1"><%= form.select :role_id, Role.all.pluck(:name,:id), {prompt: @user.role ? @user.role.name : 'Select Role'}, {class: "form-control"}%></div>
        <% if @user.errors.any? %>
          <ul>
            <% @user.errors.full_messages_for(:role_id).each do |message| %>
              <li class="text-danger"><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= form.submit submitBtn, class: "btn btn-primary float-left" %>
          <%= link_to "Back", users_path, class: "btn btn-secondary float-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

