<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"><%= formTitle %></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Post</li>
        </ol>
      </div><!-- /.col -->
    </div>
  </div>
</div>
<hr>
<div class="content mx-3">
  <div class="container-fluid py-4">
    <%= form_with model: @post do |form| %>
      <div class="form-group row">
      <div class="col-md-2"> <%= form.label :title %> </div>
        <div class="col-md-6"><%= form.text_field :title ,class: "form-control" %></div>
          <% if @post.errors.any? %>
            <ul>
              <% @post.errors.full_messages_for(:title).each do |message| %>
                <li class="text-danger"><%= message %></li>
              <% end %>
            </ul>
          <% end %>
      </div>
      <br/>
      <div class="form-group row">
        <div class="col-md-2"> <%= form.label :description %> </div>
          <div class="col-md-6"> <%= form.text_area :description , class: "form-control" %> </div>
          <% if @post.errors.any? %>
            <ul>
              <% @post.errors.full_messages_for(:description).each do |message| %>
                <li class="text-danger"><%= message %></li>
              <% end %>
            </ul>
          <% end %>
      </div>
      <br/>
      <div class="form-group row">
        <div class="col-md-2"> <%= form.label :image %> </div>
          <div class="col-md-4"> <%= form.file_field :image , class: "form-control" %></div>
          <div class="col-md-3">
            <% if @post.image.attached? %>
              <%= image_tag @post.image, style: "width: 100px; border: 1px solid gray;" %>
            <% end %>
          </div>
          <% if @post.errors.any? %>
            <ul>
              <% @post.errors.full_messages_for(:image).each do |message| %>
                <li class="text-danger"><%= message %></li>
              <% end %>
            </ul>
          <% end %>
      </div>
      <div class="row">
        <div class="col-md-8">
          <%= form.submit submitBtn, class: "btn btn-primary float-left" %>
          <%= link_to "Back", posts_path, class: "btn btn-secondary float-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

