<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-1">
      <div class="col-sm-6">
        <h1 class="mb-3 mx-1">Post List</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <div class="float-right mx-2">
          <%= link_to t('new_post'), new_post_path, class: "btn btn-success" %>
          <a href="/posts/export.csv" class="btn btn-primary"><%= t('export_csv') %></a>
        </div>
      </div><!-- /.col -->
    </div>
  </div>
</div>
<div class="content mx-3">
  <div class="container-fluid py-1">
    <!-- /notice message-->
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= flash[:notice] %></strong>
      </div>
    <% end %>
    <!-- /danger message-->
    <% if flash[:danger] %>
      <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= flash[:danger] %></strong>
      </div>
    <% end %>
    <!-- /error message-->
    <% if flash[:error] %>
      <div class="alert alert-warning alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>
          <% flash[:error].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </strong>
      </div>
    <% end %>
    <!-- /CSV import and search -->
    <div class="row justify-content-between pb-3">
      <div class="col-md-4">
        <%= form_with url: '/posts/import', method: 'post', class: "d-flex" do |form| %>
          <%= form.file_field :importFile, class: "form-control mr-1" %>
          <%= form.submit t('import_csv'), class: "btn btn-outline-primary" %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= form_with url: '/posts', method: 'get', class: "d-flex" do |form| %>
          <%= form.text_field :searchPost, class: "form-control mx-2", value: params[:searchPost], placeholder: "Search..." %>
          <%= form.submit t('search'), class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th>
                    Post Title
                    <%= link_to :sort => "title", :direction => 'desc' do  %><i class="fas fa-caret-square-up"></i><% end %>
                    <%= link_to :sort => "title", :direction => 'asc' do %><i class="fas fa-caret-square-down"></i><% end %>  
                  </th>
                  <th>Posted User</th>
                  <th>Category</th>
                  <th>Post Image</th>
                  <th>Posted Date
                    <%= link_to :sort => "created_at", :direction => 'desc' do %><i class="fas fa-caret-square-up"></i><% end %>
                    <%= link_to :sort => "created_at", :direction => 'asc' do %><i class="fas fa-caret-square-down"></i><% end %>
                  </th>
                  <th collapse=2>Operation</th>
              </tr>
          </thead>
          <tbody>
              <% @posts.each do |post| %>
              <tr>
                  <td><%= link_to post.title, post %></td>
                  <td><%= post.user ? post.user.name : '' %></td>
                  <td><%= post.category ? post.category.name : '' %></td>
                  <td>
                    <% if post.image.attached? %>
                      <%= image_tag post.image, style: "width: 100px; border: 1px solid gray;" %>
                    <% end %>
                  </td>
                  <td><%= post.created_at.strftime('%b %d, %Y') %></td>
                  <td>
                  <% if postUser(post.id) || isAdmin? %>
                    <%= link_to t('edit'), edit_post_path(post), 
                                    class: "btn btn-info" %>
                    <%= link_to t('delete'), post_path(post),
                                    method: :delete,
                                    data: { confirm: "Are you sure?" }, 
                                    class: "btn btn-danger" %></td>
                  <% end %>
              </tr>
              <%end%>
          </tbody>
      </table>
    </div>
    <%= paginate @posts %>
  </div>
</div>
