<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Post List</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Post</li>
        </ol>
      </div><!-- /.col -->
    </div>
  </div>
</div>
<div class="content mx-3">
  <div class="container-fluid py-4">
    <div class="row justify-content-between pb-3 pl-2">
      <div class="col-md-4">
        <%= link_to "New Post", new_post_path, class: "btn btn-outline-success" %>
        <a href="/posts/export.csv" class="btn btn-outline-primary">Export CSV</a>
      </div>
      <div class="col-md-6">
        <%= form_with url: '/posts', method: 'get', local: true, class: "d-flex" do |form| %>
          <%= form.text_field :searchPost, class: "form-control mx-2" %>
          <%= form.submit "Search", class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th>
                    Post Title
                    <%= link_to :sort => "title", :direction => 'desc' do  %><i class="fas fa-caret-square-up"></i><% end %>
                    <%= link_to :sort => "title", :direction => 'asc' do %><i class="fas fa-caret-square-down"></i><% end %>  
                  </th>
                  <th>Post Description
                    <%= link_to :sort => "description", :direction => 'desc' do %><i class="fas fa-caret-square-up"></i><% end %>
                    <%= link_to :sort => "description", :direction => 'asc' do %><i class="fas fa-caret-square-down"></i><% end %>
                  </th>
                  <th>Posted User</th>
                  <th>Posted Date
                    <%= link_to :sort => "created_at", :direction => 'desc' do %><i class="fas fa-caret-square-up"></i><% end %>
                    <%= link_to :sort => "created_at", :direction => 'asc' do %><i class="fas fa-caret-square-down"></i><% end %>
                  </th>
                  <th collapse=2>Operation</th>
              </tr>
          </thead>
          <tbody>
              <% @posts.each do |post| %>
              <tr>
                  <td><%= link_to post.title, post %></td>
                  <td><%= post.description %></td>
                  <td><%= post.user ? post.user.name : '' %></td>
                  <td><%= post.created_at.strftime('%b %d, %Y') %></td>
                  <td><%= link_to "Edit", edit_post_path(post), 
                                  class: "btn btn-info" %>
                  <%= link_to "Delete", post_path(post),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" }, 
                                  class: "btn btn-danger" %></td>
              </tr>
              <%end%>
          </tbody>
      </table>
    </div>
    <%= paginate @posts %>
  </div>
</div>
